<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>CO2 Emission Predictor</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
 <div class="login">
	<h1>Predict Hardness of a steel</h1>
     <h3> Enter the following values to predict the Hardness</h3>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="S-temp" placeholder="S-temp" required="required" />
        <input type="text" name="S-time" placeholder="S-time" required="required" />
		<input type="text" name="Wel-power" placeholder="Wel-power" required="required" />
    <input type="text" name="Wel-speed" placeholder="Wel-speed" required="required" />
        <button type="submit" class="btn">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>